.splitter-wrap {
  width: 100%;
  margin: 30px;

  display: flex;
  justify-content: center;
}

.spl-dots {
  display: flex;
  flex-direction: column;
}

.spl-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;

  margin: 10px 0;
}
