<div class="signin-form-component">
  <div class="signin-bg-cover">
    <div class="form-wrap">
      <img class="form-signin-img" src="../../../assets/images/login-draw.svg" alt="" />

      <form (ngSubmit)="onFormSubmit()" class="signin-form" [formGroup]="signInForm">
        <mat-form-field class="signin-form-field" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" [formControl]="username" placeholder="How are you?" />
          <mat-hint> </mat-hint>
          <mat-error *ngIf="username.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="signin-form-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [formControl]="password"
            placeholder="Enter your strong pass"
          />
          <mat-hint> </mat-hint>
          <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <button id="signin-btn" color="primary" mat-raised-button>Sign in</button>
      </form>
    </div>
  </div>
</div>
