<header class="header">
  <nav class="header-nav">
    <ul class="header-list flex-row">
      <li class="nav-item">
        <a [routerLink]="['home']" mat-button color="primary" class="nav-link"
          ><i class="fas fa-home"></i>Home</a
        >
      </li>
      <li class="nav-item">
        <a [routerLink]="['books']" mat-button color="primary" class="nav-link"
          ><i class="fas fa-book"></i>Books</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="!authService.isSignedIn()"
          mat-button
          color="primary"
          [routerLink]="['account/signin']"
          class="nav-link"
          ><i class="fas fa-sign-in-alt"></i>Sign In</a
        >

        <a
          *ngIf="authService.isSignedIn()"
          mat-button
          color="primary"
          (click)="signOut()"
          class="nav-link"
          ><i class="fas fa-chevron-circle-left"></i>Log Out</a
        >
      </li>
    </ul>
  </nav>
</header>
